@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: #7C09DF;
	--secondary: #f3f4f6;
	--text: #1f2937;
	--background: #ffffff;
	--accent: #4f46e5;
}

body {
	@apply mx-auto max-w-[1920px] bg-background text-text antialiased;
	font-family: 'Inter', sans-serif;
}

.gradient-text {
	@apply bg-gradient-to-r from-primary to-accent bg-clip-text text-transparent;
}

.container {
	@apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
}
